/*CSS GENERAL STYLES AND DECLARATIONS */

/* ----------------------- FONTS  DECLARATION --------------------------------- */
@font-face {
    font-family: "queen1";                        /* Name of the font for code*/
    src: url("fonts/Queen1.ttf");                 /* Location of the font */
}
@font-face {
    font-family: "queen2";
    src: url("fonts/Queen2.ttf");
}
@font-face {
    font-family: "romantik";
    src: url("fonts/Romantik.ttf");
}
@font-face {
    font-family: "sofia";
    src: url("fonts/Sofia.otf");
}
@font-face {
    font-family: "pearl";
    src: url("fonts/TAN-PEARL.ttf");
}

/* --------------------------------   GENERAL  ----------------------------------- */
*{  /* Every component - Help to stardarize sizes */                                  
    margin: 0px;                     
    padding: 0px;
}

body{ /* All web body */
    font-family: "queen1", Arial, Helvetica, sans-serif;   /* Declaring queen1 font */
    font-size: 20px;                                       /* size of font */
    background: url("./img/background.jpg");                   /* image background */
    background-repeat: no-repeat;                      /* No repite nada */
    background-position: center center;              /* Centers image */
    background-attachment: fixed;                    /* Blocks the image */
    background-size: cover;                          /* Fill image for website */
}

.clearfix{                                                  /* Clear spaces to divide labels */
    float:none;
    clear:both;
}

/* --------------------------------   HEADER  ----------------------------------- */

header {
    width: 100%;
    height: 10%;
    background: rgba(44, 107, 223, 0.956); /* Background color with transparency */
    display: block;
    position: fixed; /* Fixed position for the header */
    box-shadow: 0px 0px 10px black;
}
header ul {
    display: flex; /* Using flexbox to align the menu */
    justify-content: center; /* Center elements horizontally */
    align-items: center; /* Center elements vertically */
    height: 100%; /* 100% height to adapt */
    padding: 0; /* Remove default padding */
}
header ul li {
    list-style-type: none; /* Remove bullet points */
    text-align: center; /* Center text horizontally */
}
header ul li a {
    display: block; /* Display links as blocks to occupy the space */
    padding: 1.3em; /* Responsive padding */
    text-decoration: none; /* Remove text decoration */
    color: white; /* Text color */
    transition: all 300ms; /* Transition effect for all link elements */
}
.link:hover, .actived {
    background-color: rgba(80, 130, 223, 0.956); /* Change background color */
}

/* LOGO */
.logo {
    background-image: url('./img/log.png'); /* Set background image */
    background-size: cover; /* Cover the entire space */
    display: inline-block; /* Ensure link occupies space */
    width: 100px; /* Set width */
    height: 100px; /* Set height */
    text-indent: -9999px; /* Hide text */
    transition: transform 500ms ease; /* Transition for scaling effect */
}

/* Hover effect for the logo */
.logo:hover {
    background-color: transparent; /* Change background color */
    cursor: default; /* Set cursor */
    transform: scale(1.2); /* Scale the logo */
}

/* --------------------------------   CONTENT  ----------------------------------- */
#content {
    min-height: 40em; /* Minimum height for the content area */
    width: 85%; /* Width of the content area */
    margin: 0px auto; /* Center the content horizontally */
    box-shadow: 0px 0px 20px black; /* Add a black shadow */
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    padding-top: 120px; /* Top padding for content area */
}

/* --------------------------------   FOOTER  ----------------------------------- */
footer {
    width: 85%;   /* Width of the footer area */
    margin: 0px auto; /* Center the footer horizontally */
    padding-top: 5px; /* Top padding for footer */
    font-weight: bold; /* Bold font weight for footer text */
    color: rgba(0, 0, 0, 0.5); /* Semi-transparent black color for footer text */
    text-align: center; /* Center-align the text in the footer */
}

/* --------------------------------   ABOUT ME   ----------------------------------- */
#title {
    width: 80%; /* Container width */
    background-color: rgb(255, 255, 255); /* Background color */
    text-align: center; /* Text alignment center */
    margin: 0px auto; /* Margin top and bottom 0, left and right margin auto */
    margin-top: 50px; /* Bottom margin */
    margin-bottom: 30px; /* Bottom margin */
    color: rgb(151, 168, 189); /* Text color */
    
    & h1 {
        font-family: "pearl"; /* Font family */
        font-size: 50px; /* Font size */
        font-weight: bold; /* Font weight */
        border-bottom: 1px solid #ccc; /* Bottom border */
        padding-bottom: 15px; /* Bottom padding */
        color: rgb(74, 92, 112); /* Text color */
    }
    & h2 { 
        padding-bottom: 5px;
        font-size: 30px; /* Font size for h2 */
    }
    & p {font-size: 15px; /* Font size for paragraphs */}
}

#self {
    width: 280px; /* Container width */
    margin: 0px auto; /* Margin top and bottom 0, left and right margin auto */
    margin-top: 35px; /* Top margin */
    margin-bottom: 20px; /* Bottom margin */
}

.about {
    width: 80%; /* Container width */
    margin: 0px auto; /* Margin top and bottom 0, left and right margin auto */
    color: rgb(94, 101, 109); /* Text color */
    text-align: justify; /* Text alignment justified */
    font-size: 23px; /* Font size */
    padding-bottom: 40px;
}


.about h2 {
    font-size: 32px; /* Font size */
    font-weight: bold; /* Font weight */
    border-bottom: 1px solid #ccc; /* Bottom border */
    color: rgb(74, 92, 112); /* Text color */
    padding-top: 10px; /* Top padding */
    padding-bottom: 8px; /* Bottom padding */
}

.about p {
    padding-top: 15px; /* Top padding */
    padding-bottom: 50px; /* Bottom padding */
}

.about ul {
    padding-top: 15px;
    padding-left: 30px;
    display: flex; /* Use Flexbox */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.about ul li {
    width: calc(20% - 6px); /* Set the width for each li (20% minus margins) */
    margin: 0 30px 10px; /* Adjust margins for spacing */
}