
<header>
  <!-- Navegation bar through pages-->
  <ul>
    <li class = "link"> <a [routerLink] = "['/about-me']" [routerLinkActive]="['actived']">About</a></li>
    <li class = "link"> <a [routerLink] = "['/projects']" [routerLinkActive]="['actived']">Projects</a></li>
    <li class = "logo"> <a [routerLink] = "['/home']">IQH</a></li>     <!-- Navegates to home-->
    <li class = "link"> <a [routerLink] = "['/create-project']" [routerLinkActive]="['actived']">Create</a></li>
    <li class = "link"> <a [routerLink] = "['/contact']" [routerLinkActive]="['actived']">Contact</a></li>
  </ul>
</header>

<section id ="content">
  <router-outlet></router-outlet>  <!-- Puts the component needed or in use, making it dynamic web page-->
</section>

<footer> © 2024 isaacqh.com. All rights reserved. Created with Angular.</footer>